
div h2 {
  color:pink;
}
h1 {
  color:orange;
}
h2 {
  color:green;
}

h1,
h2
{
  font-weight: 900;
}

section div h2 {
  color:red;
}

/* pakeis klase fonas-blue elementu, kurie turi protevi p */
p .fonas-blue {
  background-color:blue;
}

/* pakeis klase fonas-blue elementu, kurie yra p */
p.fonas-orange {
  background-color:orange;
}
