
/* remeliu isskaiciavimas i ploti */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* aukscio ir plocio nustatymai */

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.plotis-100 {
  width: 100%;
}
.mp0 {
  margin: 0;
  pading: 0;
}
.kontaktuImg {
  height: 220px;
  width: 200px;
}
/* spalvu nustatymai */



.fablack {
  color: black;
}

/* shaped kontaktai */

/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
