* {
    /* remeliu isskaiciavimas i ploti */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------- */
h1 {
    color: orange;
}
p {
    background-color: #c1c1c1;
    width: 45%;
    float: left;

    border: solid 1px red;
}
.isjungiu-float {
    clear: both;
}
.pirmas {
    margin-left: 4%;
}
.antras {
    margin-right: 4%;
    margin-left: 2%;
}
