* {
    /* remeliu isskaiciavimas i ploti */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* karuseles  */
.card1Text, .card2Text, .card3Text{
  display:none;
}
img{
  max-width: 100%;
  height: auto;
}
p{
  font-size: 1rem;
}

h2 {
  font-size: 2.5rem;
}

/* -------------- */

/* .fotorama__caption{
  bottom:1%;
  left: 40%;
  font-size: 100%;
} */
.fotorama__wrap {
margin: 0 auto; }

.plotis-max{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#megzta, #nerta, #siuta{
  text-align:center;
  padding-top: 30px;
  font-weight: 600;
}

.back{
  background-color: #e6e6e6;
  height: 100px;

  /* max-height: 15vh;
  min-height: 15vh; */
}

/* .back2{
  background-color: #e6e6e6;
  max-height: 10vh;
  min-height: 10vh;
} */
.navigacijos-lenta{
  position: relative;
}


/* .navigacijos-myg{
  position: absolute;
  right:0;
  top:44%;
  background-color: rgba(180, 238, 30, 0);
  border: none;
} */


.apgaule{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.slapukas{
overflow:hidden;
}

.plotis-max-45{
  max-width: 45%;
}

.Contain{
  object-fit: scale-down;
  }

body{
  position: relative;
  /* font-size: 16px; */
  font-family: 'Poppins', sans-serif;
  background-image: url("../Images/zig_zag_wool.png");
}

ul.nav-pills {
  position: fixed;
    top: 20vh;
    left: 10vh;
    font-size: 3vh;
  }
  /* div.col-8 div {
      height: 500px;
    } */


.main{
  max-width: 700px;
  margin: 20px auto;
}

/* slider styles */
.sl__slide{
  position: relative;;
}

.sl__text{
  position:absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5);
  padding: 20px 0;
}

.sl__zag, .sl__dec{
  margin:0;
  padding:0 10px;
}
/* slider styles close */


.rel_poz{
  position:relative;
}

#navigacija-top{
display:flex;
justify-content: center;
align-items: center;
}

#navigacija-top > a{
text-decoration: none;
/* font-size: 2vw; */
font-size: 2rem;
font-family: 'Poppins', sans-serif;
border:solid 0.5rem #474444;
padding: 0.5rem;
max-width: 15rem;
}

/* foooterio iconai */
#footeris{
  position: fixed;
  bottom: 0px;
  left:0px;
  border-top: solid gray;
  background-color: #e6e6e6;
  height: 75px;
  z-index: 9999;
}
#navigacija-top > a{
text-decoration: none;
}



.footerio-tekstas{
text-align:right;
margin-top: 1rem;
font-size: 2rem;
}
/* font awesone skinai footeriui */
.fa {
  padding: 0.75rem;
  font-size: 1.75rem;
  width: 3.25rem;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0.5rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 1rem;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 1rem;
}

.fa-instagram {
  background: #3B5998;
  color: white;
  border-radius: 1rem;
}

.logotipas{
  width: 12rem;
  margin-bottom: -5rem;
}

.paskirstymas{
  display:flex;
  justify-content: center;
}

 #navigacija-top>a:link {
   color: #474444;
   border:solid 0.25rem #474444;
   border-radius: 1rem;
}

#navigacija-top>a:visited {
   color: #474444;
   border:solid 0.25rem #474444;
}

#navigacija-top>a:hover {
   color: #e6e6e6;
   background-color: #474444;
   border-radius: 1rem;
}

#navigacija-top>a:active {
   color: #474444;
   border:solid 0.25rem #474444;
}

#forma, #draugai, #mepas{
  border: solid 2px;
  border-radius: 10px;
  background-color: #e6e6e6;
  opacity: 0.75;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#forma h2, #draugai h2, #mepas h2{
  padding-top: 2px;
  margin-top: 16px;
  text-align:center;
  font-size: 1.5rem;


}
#forma .btn{
  font-size:2rem;
}

#draugai ul{
  list-style: none;
}
#draugai ul li a{
  text-decoration: none;
}

iframe{
  max-width: 100%;
}

.viena-linija{
  display:inline-block;
}

.centravimas{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.plotis-45{
  width: 45%;
}
.float-kaire{
  float:left;
}
.float-desine{
  float:right;
}
.isjungiu_float{
  clear:both;
}
.aukstis-10-proc {
    height: 10%;
}
.aukstis-20-proc {
    height: 20%;
}
.aukstis-30-proc {
    height: 30%;
}
.aukstis-40-proc {
    height: 40%;
}
.aukstis-50-proc {
    height: 50%;
}
.aukstis-60-proc {
    height: 60%;
}
.aukstis-70-proc {
    height: 70%;
}

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.aukstis-600 {
    height: 600px;
}

.header {
  width: 100%;
  margin: 25px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
#prisijungimas, .content {
  width: 100%;
  margin: 5px auto;
  padding: 15px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 10px;
}




@media (max-width: 768px) {
  #navigacija-top > a{
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  border:solid 0.15rem #474444;
  padding: 0.25rem;
  max-width: 6rem;
  }
  #navigacija-top>a:link {
    color: #474444;
    border:solid 0.15rem #474444;
    border-radius: 0.5rem;
 }

 #navigacija-top>a:visited {
    color: #474444;
    border:solid 0.15rem #474444;
 }

 #navigacija-top>a:hover {
    color: #e6e6e6;
    background-color: #474444;
    border-radius: 0.5rem;
 }

 #navigacija-top>a:active {
    color: #474444;
    border:solid 0.15rem #474444;
 }
 /* foooterio iconai */
 #footeris{
   position: fixed;
   bottom: 0px;
   border-top: solid gray;
   background-color: #e6e6e6;
   height: 75px;

 }
 .back{
   background-color: #e6e6e6;
   height: 75px;
}

 .footerio-tekstas{
 text-align:right;
 margin-top: 1rem;
 font-size: 1rem;
 }
 /* font awesone skinai footeriui */
 .fa {
   padding: 0.5rem;
   font-size: 1rem;
   width: 2rem;
   text-align: center;
   text-decoration: none;
   margin: 1rem 0.2rem;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-facebook {
   background: #3B5998;
   color: white;
   border-radius: 0.25rem;
 }
 .fa-twitter {
   background: #55ACEE;
   color: white;
   border-radius: 0.25rem;
 }
 .fa-instagram {
   background: #3B5998;
   color: white;
   border-radius: 0.25rem;
 }
 .logotipas{
   width: 8rem;
   margin-bottom: -5rem;
 }

#myScrollspy{
  display: none;
}

@media (max-width: 360px) {
    #navigacija-top > a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border:solid 0.1rem #474444;
    padding: 0.25rem;
    max-width: 5rem;
    }

    #navigacija-top>a:link {
      color: #474444;
      border:solid 0.1rem #474444;
      border-radius: 0.25rem;
   }

   #navigacija-top>a:visited {
      color: #474444;
      border:solid 0.1rem #474444;
   }

   #navigacija-top>a:hover {
      color: #e6e6e6;
      background-color: #474444;
      border-radius: 0.25rem;
   }

   #navigacija-top>a:active {
      color: #474444;
      border:solid 0.1rem #474444;
   }

   /* foooterio iconai */
   #footeris{
     position: fixed;
     bottom: 0px;
     border-top: solid gray;
     background-color: #e6e6e6;
     height: 50px;

   }



   .footerio-tekstas{
   text-align:right;
   margin-top: 0.75rem;
   font-size: 0.75rem;
   }
   /* font awesone skinai footeriui */
   .fa {
     padding: 0.3rem;
     font-size: 1rem;
     width: 1.6rem;
     text-align: center;
     text-decoration: none;
     margin: 0.75rem 0.25rem;
   }

   .fa:hover {
       opacity: 0.7;
   }

   .fa-facebook {
     background: #3B5998;
     color: white;
     border-radius: 0.25rem;
   }
   .fa-twitter {
     background: #55ACEE;
     color: white;
     border-radius: 0.25rem;
   }
   .fa-instagram {
     background: #3B5998;
     color: white;
     border-radius: 0.25rem;
   }

   .logotipas{
     width: 6rem;
     margin-bottom: -4.5rem;
   }
