

/* -------------- */
h1 {
    color: orange;
}

.nav-link{
  border: solid 1px ;
  color:rgb(110, 123, 142);
<<<<<<< HEAD
=======
}
.plotis-max{
  max-width: 500px;
  margin-left: auto;
  margin-right:auto;
>>>>>>> 720cf64dad98f2fff622b3cb2a78025e13245e9d
}

.back{
  background-color: #e6e6e6;
}

footer{
  margin-top: 50px;
  border-top: solid  #dddddd 2px;
  background-color: #e6e6e6;
  position: fixed;
  bottom: 0px;
  height: 10%;
}
.aukstis-25{
    height: 25%;
}
.apgaule{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.slapukas{
overflow:hidden;
}

.plotis-max-45{
  max-width: 45%;
}

.Contain{
  object-fit: scale-down;
  }
  
body{
  position: relative;
  background-image: url("../Images/wool.jpg");
}

.centruotas_logo{
  margin-bottom:-50%;
  width: 100px;
}

.paskirstymas{
  display:flex;
  justify-content: center;
}


a:link {
   color: #474444;
}

a:visited {
   color: #474444;
}
a:hover {
   color: #474444;
   background-color: #606060
}

a:active {
   color: #474444;
}

.viena-linija{
  display:inline-block;
}

.centravimas{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.plotis-45{
  width: 45%;
}
.float-kaire{
  float:left;
}
.float-desine{
  float:right;
}
.isjungiu_float{
  clear:both;
}
.aukstis-20 {
    height: 20%;
}

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
