
.nav-link{
  border: solid 1px ;
}

.back{
  background-color: #e6e6e6;
}

footer{
  margin-top: 500px;
  border-top: solid  #dddddd 5px;
  background-color: #e6e6e6;
  position: sticky;
  bottom: 0px;
  height: 15%;
}
.aukstis-25{
    height: 25%;
}
.ilgio_apgaule{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.slapukas_ant_tevo{
overflow:hidden;
}

.card{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
}

.veik{
  background-image:url("C:/Users/Pienius/Documents/KaunasCoding/dirbame_cia/PROJEKTAI/Vaidotas/Projektas/Images/wool.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 20rem;
}

body{
  position: relative;
}
.centruotas_logo{
  width: 100px;
  margin-bottom: -50%;



}

a:link {
   color: #e6e6e6;
}
a:hover {
   color: #474444;
   background-color: #050505
}

a:active {
   color: #474444;
}


.plotis-45{
  width: 45%;
}
.float-kaire{
  float:left;
}
.float-desine{
  float:right;
}
.isjungiu_float{
  clear:both;
}

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
