* {
    /* remeliu isskaiciavimas i ploti */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------- */
h1 {
    color: black;
}

.g_h1{
  text-align: center;

}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}

.isjungiu-float{
  clear:both;
}

.float-kaire{
  float:left;
}

.float-desine{
  float:right;
}
