h1 {
    color: orange;
}

.plotis-30 {
    width: 30%;
}
.plotis-50 {
    width: 50%;
}
.plotis-100 {
    width: 100%;
}
.ijungiu-float {
    float: left;
    /* ARBA */
    /* display: inline-block; */
}


.isjungiu-float {
    clear: both;
}
